name: Continuous Integration
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src
    steps:
      - uses: actions/checkout@v4
      
      - name: install node
        uses: actions/setup-node@v4
        with:
          node-version: 18.x

      - name: install yarn
        run: corepack enable | corepack prepare yarn@3.6.4 --activate

      - name: workaround https://github.com/actions/setup-node/issues/531
        uses: actions/setup-node@v4
        with:
          node-version: 18.x
          cache: yarn
          cache-dependency-path: src/yarn.lock

      - run: yarn install --immutable

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'

      - run: dotnet pack --output ../dist ESBuild.MSBuild.nuspec
        env: 
          Version: 0.25.4.${{github.run_number}}

      - uses: actions/upload-artifact@v4
        with:
          name: package
          path: dist/*.nupkg
          
  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/release' 
    steps:
        - uses: actions/download-artifact@v4
          with:
            name: package
            path: dist

        - uses: actions/setup-dotnet@v5
          with:
            dotnet-version: '10.0.x'
            
        - run: dotnet nuget push dist/*.nupkg --source https://api.nuget.org/v3/index.json -k ${{secrets.NUGET_API_KEY}}

